.mainCards {
  background: #322e33;
  color: #fff;
  margin: 4rem auto;
  overflow: hidden;
  height: 35rem;
  width: 35rem;
  box-shadow: 5px 5px 5px  rgb(93, 90, 90);
  /* box-shadow: rgba(208, 207, 207, 0.3) 0px 5px 15px; */
  /* box-shadow: rgba(255, 250, 250, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */

}

.imgbox {
  position: relative;
  width: 80%;
  margin: auto;
  border-radius: 1rem;
  height: 100%;
  background: whitesmoke;
  transform: translateY(-80px);
}

.content h1 {
  font-size: 3rem;
  padding: 1rem 3rem;
  position: relative;
  top: 18.5rem !important;
  /* background: linear-gradient(#885dc8 30%, #969aa1); */
  background-blend-mode: color-burn;
  text-align: center;
  width: 100%;

}

.imageFAQ {
  background: rgb(133, 126, 136);
}

.mainCards img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  transition: 0.7s;
  opacity: 0.7;

}

.mainFAQ {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  justify-content: center;
}

.content {
  font-size: 10rem;
  width: 32rem;
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;
  /* background: black; */
  bottom: 27rem;
  transition: 0.4s;
  color: rgb(241, 241, 241);
}

.content h1 {
  margin: 1rem;
  font-size: 2rem;
  position: relative;
  bottom: 2rem;
}

.content p {
  font-size: 20px;
  margin: 1rem;
  visibility: hidden;
  opacity: 0;
}

.mainCards:hover {
  cursor: pointer;
}

.mainCards:hover .content {
  height: 100%;
  width: 100%;
}

.mainCards:hover p {
  visibility: visible;
  opacity: 1;
  text-align: center;
  position: relative;
  bottom: 6.5rem;
}

.mainCards:hover .imgbox {
  overflow: hidden;
}

/* .mainCards:hover{
  background-image: url('./Vectors/Vector.svg');
  transition: background 1s;
} */
.mainCards:hover h1 {
  visibility: hidden;
}

.mainCards:hover img {
  transform: scale(1.5) rotate(-3deg);
  opacity: 0;
}

.mainCards:hover .imgbox {
  transform: translateY(-27rem);
  transition: 0.5s;
}

@media only screen and (max-width: 1041px) {
  .mainFAQ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 727px) {
  .mainFAQ {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-self: center;
    justify-content: center;
  }
}