.card {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);

  min-height: 200px;
  width: 380px;
  transform-style: preserve-3d;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95rem 1.95rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0.7rem 0.7rem 0.6rem;
}

.cardGrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: space-evenly;
}


.flip-card {
  background-color: transparent;
  width: 350px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */

  /* Remove this if you don't want the 3D effect */
  perspective: 1000px;
  
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  flex-wrap: wrap;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: rgb(210, 187, 253); */
  /* background-color: transparent; */
  /* backdrop-filter: blur(3px); */
  color: black;
}

/* .flip-card-front>p {

} */

/* Style the back side */
.flip-card-back {
  /* background-color: rgba(227, 122, 199, 0.851); */
  background: linear-gradient(to bottom right, #b662fb, #7c0efa);
  color: white;
  transform: rotateY(180deg);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.7rem;
}

.card-heading{
  /* background: linear-gradient(to bottom right,#ca90f9, #f2e9fd); */
  background-image: linear-gradient(to bottom right, rgb(60, 58, 58), rgb(30, 24, 24));
  background: rgb(241, 235, 235);
  background:linen;
  padding: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.card-heading>h2{
  color: rgb(224, 221, 221);
  color:#7c0efa;
  font-size: 3.3rem;
  font-weight: 700;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

}

.flip-card img{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}