.Sponsor {
  margin-bottom: 5rem;
}

.Sponsor:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.Sponsor img {
  width: 20rem;
  display: inline-block;
  margin: 0;
  margin-top: 3rem;
  transition: right 0.2s linear;
}

.shead {
  font-size: 6rem;
  margin-bottom: 6rem;
  margin-top: -3rem;
}

.ssubhead {
  font-size: 5rem;
  margin: 4rem;
  justify-content: space-around;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}

.sponsorUS {
  margin-bottom: 7rem;
}

/* more smaller */
@media (max-width: 570px) {
  .shead {
    margin-top: 0;
  }

  .Sponsor img {

    margin-bottom: 3rem;
  }
}

// .Sponsor img {

//   -webkit-animation: mover 2s infinite alternate;
//   animation: mover 2s infinite alternate;
// }

@-webkit-keyframes mover {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes mover {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}